#nextLaunchContent {
    margin-left:8px;
}

@media only screen
and (max-width: 1200px)
and (max-height: 1200px)
{
    * {
        overflow: hidden;
    }
    #nextLaunchContent {
        text-align:center;
        margin-top:7%;
        margin-left:0;
    }
}